/* GENERALES */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

ul {
  padding: 0 !important;
  margin: 0 !important; }

h1, h2, h3, h4, h5, h6, .carrito .carritoTotal span {
  margin: 0 !important; }

body {
  display: grid;
  grid-template-rows: auto auto 320px; }

/* END GENERALES */
/* HEADER */
header {
  background-color: #5bab54;
  display: flex;
  flex-direction: column; }
  header a {
    color: #fff; }
  header .navSuperior {
    display: flex;
    justify-content: space-between;
    margin: 0 10px; }
    header .navSuperior .logo {
      transition: all 0.25s; }
      header .navSuperior .logo:hover {
        transform: scale(0.95); }
      header .navSuperior .logo a {
        display: flex;
        align-items: center;
        margin: 20px 0; }
        header .navSuperior .logo a:hover {
          color: #fff; }
        header .navSuperior .logo a img {
          height: 75px;
          border-radius: 50%; }
        header .navSuperior .logo a h1 {
          display: none;
          margin-left: 5px !important;
          font-weight: 600; }
    header .navSuperior .buscador {
      display: flex;
      justify-content: center;
      align-items: center; }
      header .navSuperior .buscador input {
        width: 9rem;
        padding-left: 7px;
        line-height: 25px;
        background: #fff;
        color: #63ad58;
        border: none;
        border-radius: 18px;
        margin-right: 5px; }
        header .navSuperior .buscador input:hover {
          background: #e2e2e2; }
        header .navSuperior .buscador input:focus {
          background: #5a5a5a;
          color: #fff;
          outline: none; }
      header .navSuperior .buscador a {
        transition: all 0.25s; }
        header .navSuperior .buscador a:hover {
          color: #e2e2e2;
          transform: scale(0.95); }
        header .navSuperior .buscador a:active {
          color: #1b1b1b; }
    header .navSuperior .menuHamburguesa {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: #fff; }
      header .navSuperior .menuHamburguesa:active {
        color: #1b1b1b; }
    header .navSuperior input#menu {
      display: none; }
      header .navSuperior input#menu:checked ~ .seccionesContainer {
        display: block; }
    header .navSuperior .seccionesContainer {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      padding-top: 5px;
      width: 100%;
      height: 200px;
      background-color: #5bab54; }
      header .navSuperior .seccionesContainer .secciones {
        margin: 45px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center; }
        header .navSuperior .seccionesContainer .secciones .cerrarMenu {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 20px;
          color: #1b1b1b; }
          header .navSuperior .seccionesContainer .secciones .cerrarMenu:active {
            color: #e6e6e6; }
        header .navSuperior .seccionesContainer .secciones li {
          display: flex;
          font-size: 24px;
          margin: 5px 0;
          padding: 0 8px;
          background-color: #a3e0ae;
          border-radius: 15px; }
          header .navSuperior .seccionesContainer .secciones li:active {
            background-color: #303030; }
          header .navSuperior .seccionesContainer .secciones li a {
            color: #303030; }
            header .navSuperior .seccionesContainer .secciones li a:active {
              color: #e6e6e6; }
          header .navSuperior .seccionesContainer .secciones li:last-child {
            padding: 9px;
            border-radius: 50%; }
  header .navInferior {
    display: flex;
    padding: 5px;
    border-top: 2px solid #494949;
    border-bottom: 2px solid #494949; }
    header .navInferior .dropdown .btn {
      color: #fff;
      border: 1px solid #494949; }
    header .navInferior .dropdown .dropdown-item:active {
      background-color: #a3e0ae; }
    header .navInferior .categoriasContainer {
      display: none; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto auto 220px; }
  header .navSuperior .logo a img {
    height: 100px; }
  header .navSuperior .logo a h1 {
    display: flex;
    font-size: 30px;
    margin-left: 5px; }
  header .navSuperior .buscador input {
    min-width: 200px;
    line-height: 28px;
    font-size: 15px; }
  header .navSuperior .menuHamburguesa {
    margin-right: 8px; }
  header .navInferior {
    padding: 0; }
    header .navInferior .dropdown {
      display: none; }
    header .navInferior .categoriasContainer {
      display: block; }
      header .navInferior .categoriasContainer .categorias {
        display: flex;
        width: calc(100vw - 30px);
        justify-content: space-evenly; }
        header .navInferior .categoriasContainer .categorias li {
          display: flex;
          font-size: 16px;
          font-weight: 600;
          margin: 10px 15px;
          color: #fff; }
          header .navInferior .categoriasContainer .categorias li a {
            transition: all 0.25s; }
            header .navInferior .categoriasContainer .categorias li a:hover {
              color: #e2e2e2;
              transform: scale(0.95); }
            header .navInferior .categoriasContainer .categorias li a:active {
              color: #1b1b1b; } }

@media screen and (min-width: 1100px) {
  header .navSuperior .buscador input {
    min-width: 280px; }
  header .navSuperior .menuHamburguesa {
    display: none; }
  header .navSuperior .seccionesContainer {
    display: flex;
    position: inherit;
    width: auto;
    height: auto;
    align-items: center; }
    header .navSuperior .seccionesContainer .secciones {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%; }
      header .navSuperior .seccionesContainer .secciones .cerrarMenu {
        display: none; }
      header .navSuperior .seccionesContainer .secciones li {
        background-color: transparent;
        padding: 0;
        margin: 0 5px; }
        header .navSuperior .seccionesContainer .secciones li:active {
          background-color: transparent; }
        header .navSuperior .seccionesContainer .secciones li a {
          padding: 4px 8px;
          color: #fff;
          transition: all 0.25s; }
          header .navSuperior .seccionesContainer .secciones li a:hover {
            background-color: #79aa75;
            border-radius: 15px;
            transform: scale(0.95); }
          header .navSuperior .seccionesContainer .secciones li a:active {
            color: #1b1b1b; }
        header .navSuperior .seccionesContainer .secciones li:last-child {
          padding: 9px 4px;
          border-radius: 0;
          transition: all 0.25s; }
          header .navSuperior .seccionesContainer .secciones li:last-child:hover {
            background-color: #79aa75;
            border-radius: 50%; }
  .categorias li {
    font-size: 18px !important; } }

/* END MEDIA QUERIES */
/* END HEADER */
/* MAIN */
.division {
  background: linear-gradient(#57d66e, #a3e0ae);
  height: 40px;
  margin-bottom: 20px; }

.productosindex {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  flex-wrap: wrap;
  margin: auto;
  max-width: 850px; }
  .productosindex article {
    display: flex;
    flex-direction: column;
    margin: 0 10px 20px;
    border: 2px solid #494949;
    border-radius: 5px;
    transition: all 0.25s; }
    .productosindex article:hover {
      transform: scale(0.95);
      cursor: pointer; }
    .productosindex article img {
      border-bottom: 2px solid #494949;
      height: 190px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .productosindex article h4 {
      text-align: center;
      font-size: 15px;
      margin-top: 5px !important;
      font-weight: 600; }
    .productosindex article h6, .productosindex article .carrito .carritoTotal span, .carrito .carritoTotal .productosindex article span {
      text-align: center;
      font-size: 12px;
      margin-bottom: 5px !important; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .productosindex article img {
    height: 220px; }
  .productosindex article h4 {
    font-size: 18px; }
  .productosindex article h6, .productosindex article .carrito .carritoTotal span, .carrito .carritoTotal .productosindex article span {
    font-size: 15px; } }

@media screen and (min-width: 1100px) {
  .productosindex {
    max-width: 1200px; }
    .productosindex article img {
      height: 300px; }
    .productosindex article h4 {
      font-size: 22px; }
    .productosindex article h6, .productosindex article .carrito .carritoTotal span, .carrito .carritoTotal .productosindex article span {
      font-size: 18px; } }

/* END MEDIA QUERIES */
/* END MAIN */
/* MAIN CUENTA */
.cuentaContainer {
  display: flex;
  justify-content: center;
  background-image: url(../Img/fondo.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .cuentaContainer .cuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #a3e0ae; }
    .cuentaContainer .cuenta .cuentaForm legend {
      font-size: 20px;
      font-weight: 600;
      border-bottom: 1px solid #303030; }
    .cuentaContainer .cuenta .cuentaForm input {
      padding-left: 5px;
      margin: 20px 0;
      width: 100%;
      max-width: 300px;
      height: 25px;
      font-size: 15px;
      border-radius: 3px;
      border: 1px solid #5a5a5a; }
      .cuentaContainer .cuenta .cuentaForm input:hover {
        background: #e2e2e2; }
      .cuentaContainer .cuenta .cuentaForm input:focus {
        background: #5a5a5a;
        color: #fff;
        outline: none; }
    .cuentaContainer .cuenta .cuentaForm .buttonContainer {
      display: flex;
      justify-content: center; }
      .cuentaContainer .cuenta .cuentaForm .buttonContainer button {
        padding: 5px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 3px;
        margin-bottom: 5px; }
        .cuentaContainer .cuenta .cuentaForm .buttonContainer button:hover {
          transform: scale(0.95); }
    .cuentaContainer .cuenta h4 {
      font-size: 15px;
      margin-top: 15px; }
    .cuentaContainer .cuenta a {
      color: #fff; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .cuentaContainer .cuenta {
    width: 300px;
    margin: 30px;
    padding: 30px 40px; }
    .cuentaContainer .cuenta .cuentaForm legend {
      font-size: 25px; }
    .cuentaContainer .cuenta .cuentaForm .buttonContainer button {
      font-size: 18px; }
    .cuentaContainer .cuenta h4 {
      font-size: 18px; } }

@media screen and (min-width: 1100px) {
  .cuentaContainer .cuenta {
    width: 350px;
    padding: 50px 40px; }
    .cuentaContainer .cuenta .cuentaForm legend {
      font-size: 28px; }
    .cuentaContainer .cuenta .cuentaForm input {
      height: 28px; }
    .cuentaContainer .cuenta .cuentaForm .buttonContainer button {
      font-size: 20px; }
    .cuentaContainer .cuenta h4 {
      font-size: 20px; } }

/* END MAIN CUENTA */
/* MAIN CARRITO */
.carrito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
  min-height: 300px; }
  .carrito h2 {
    font-size: 22px; }
  .carrito hr {
    margin: 5px 0;
    width: 80%; }
  .carrito h4 {
    font-size: 18px;
    margin-bottom: 10px; }
  .carrito a {
    color: #5bab54; }
  .carrito .carritoTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    width: 100%;
    background: linear-gradient(#aaaaaa, #5c5c5c); }
    .carrito .carritoTotal h6, .carrito .carritoTotal span {
      font-size: 18px;
      color: #fff; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .carrito {
    margin: 35px; }
    .carrito h2 {
      font-size: 28px; } }

@media screen and (min-width: 1100px) {
  .carrito {
    margin: 45px; }
    .carrito h2 {
      font-size: 35px; }
    .carrito h4 {
      font-size: 24px; }
    .carrito .carritoTotal h6, .carrito .carritoTotal span {
      font-size: 24px; }
    .carrito .carritoTotal span {
      font-size: 24px; } }

/* END MAIN CARRITO */
/* MAIN NOSOTROS */
.nosotros {
  display: flex;
  flex-direction: column;
  margin: 30px 50px; }
  .nosotros h2 {
    font-size: 25px;
    text-align: center; }
  .nosotros p {
    font-size: 15px;
    margin-top: 10px; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .nosotros {
    margin: 50px 90px; }
    .nosotros h2 {
      font-size: 30px;
      text-align: center; }
    .nosotros p {
      font-size: 20px;
      margin-top: 20px; } }

@media screen and (min-width: 1100px) {
  .nosotros {
    margin: 80px 120px; }
    .nosotros h2 {
      font-size: 35px; }
    .nosotros p {
      font-size: 20px; } }

/* END MAIN NOSOTROS */
/* MAIN PRODUCTOS */
.productosMain {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px; }
  .productosMain .filtrarProductosContainer {
    display: flex;
    justify-content: center;
    margin: 20px 5px; }
    .productosMain .filtrarProductosContainer .categoriasProductos {
      display: flex;
      flex-direction: column; }
      .productosMain .filtrarProductosContainer .categoriasProductos h2 {
        font-size: 24px;
        margin-bottom: 10px; }
      .productosMain .filtrarProductosContainer .categoriasProductos h3 {
        font-size: 15px; }
        .productosMain .filtrarProductosContainer .categoriasProductos h3:hover {
          transform: scale(0.95); }
        .productosMain .filtrarProductosContainer .categoriasProductos h3 a {
          color: #303030; }
          .productosMain .filtrarProductosContainer .categoriasProductos h3 a:active {
            color: #57d66e; }
    .productosMain .filtrarProductosContainer .filtrarProductos {
      display: flex;
      align-items: center;
      margin-left: 50px; }
      .productosMain .filtrarProductosContainer .filtrarProductos select {
        font-size: 15px; }
        .productosMain .filtrarProductosContainer .filtrarProductos select option:hover {
          background-color: white !important; }
  .productosMain .productos {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap; }
    .productosMain .productos article {
      margin: 5px 10px;
      border: 2px solid #494949;
      border-radius: 5px;
      transition: all 0.25s; }
      .productosMain .productos article:hover {
        transform: scale(0.95);
        cursor: pointer; }
      .productosMain .productos article img {
        border-bottom: 2px solid #494949;
        height: 190px; }
      .productosMain .productos article h4 {
        text-align: center;
        font-size: 15px;
        margin-top: 5px !important; }
      .productosMain .productos article h6, .productosMain .productos article .carrito .carritoTotal span, .carrito .carritoTotal .productosMain .productos article span {
        text-align: center;
        font-size: 12px;
        margin-bottom: 5px !important; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .productosMain {
    flex-direction: row;
    padding-top: 50px; }
    .productosMain .filtrarProductosContainer {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin: 0;
      padding-left: 20px;
      padding-right: 20px; }
      .productosMain .filtrarProductosContainer .categoriasProductos h2 {
        font-size: 28px; }
      .productosMain .filtrarProductosContainer .categoriasProductos h3 {
        font-size: 18px; }
      .productosMain .filtrarProductosContainer .filtrarProductos {
        margin-top: 25px;
        margin-left: 0; }
        .productosMain .filtrarProductosContainer .filtrarProductos select {
          font-size: 18px; }
    .productosMain .productos article img {
      height: 220px; }
    .productosMain .productos article h4 {
      font-size: 18px; }
    .productosMain .productos article h6, .productosMain .productos article .carrito .carritoTotal span, .carrito .carritoTotal .productosMain .productos article span {
      font-size: 15px; } }

@media screen and (min-width: 1100px) {
  .productosMain .filtrarProductosContainer {
    padding-left: 50px;
    padding-right: 50px; }
    .productosMain .filtrarProductosContainer .categoriasProductos h2 {
      font-size: 35px; }
    .productosMain .filtrarProductosContainer .categoriasProductos h3 {
      font-size: 24px; }
    .productosMain .filtrarProductosContainer .filtrarProductos select {
      font-size: 24px; }
  .productosMain .productos article img {
    height: 300px; }
  .productosMain .productos article h4 {
    font-size: 22px; }
  .productosMain .productos article h6, .productosMain .productos article .carrito .carritoTotal span, .carrito .carritoTotal .productosMain .productos article span {
    font-size: 18px; } }

/* END MAIN PRODUCTOS */
/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #5bab54;
  color: #fff;
  padding-top: 15px; }
  footer h4 {
    font-size: 15px; }
  footer .footerMetodos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px 0 15px 20px; }
    footer .footerMetodos .pagos {
      display: flex;
      flex-direction: column; }
      footer .footerMetodos .pagos h4 {
        font-weight: 600; }
      footer .footerMetodos .pagos img {
        margin-top: 5px;
        height: 25px; }
    footer .footerMetodos .envios {
      display: flex;
      flex-direction: column;
      margin-top: 5px; }
      footer .footerMetodos .envios h4 {
        font-weight: 600; }
      footer .footerMetodos .envios img {
        margin-top: 5px;
        height: 25px; }

.footerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px; }
  .footerInfo .contacto {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
    .footerInfo .contacto h4 {
      font-weight: 600; }
    .footerInfo .contacto ul li {
      display: flex;
      align-items: center; }
      .footerInfo .contacto ul li i {
        padding-right: 5px; }
  .footerInfo .redesSociales {
    display: flex;
    flex-direction: column; }
    .footerInfo .redesSociales h4 {
      font-weight: 600; }
    .footerInfo .redesSociales ul {
      display: flex; }
      .footerInfo .redesSociales ul li {
        font-size: 30px;
        margin: 0 5px;
        color: #fff; }
        .footerInfo .redesSociales ul li a {
          color: #fff;
          transition: all 0.25s; }
          .footerInfo .redesSociales ul li a:hover {
            transform: scale(0.95); }
          .footerInfo .redesSociales ul li a:active {
            color: #303030; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0; }
    footer h4 {
      font-size: 18px; }
  .footerInfo {
    justify-content: center;
    margin: 0;
    padding-left: 30px; } }

@media screen and (min-width: 1100px) {
  footer h4 {
    font-size: 22px; }
  footer .footerMetodos .pagos img {
    height: 30px; }
  footer .footerMetodos .envios img {
    height: 30px; }
  footer .footerInfo li {
    font-size: 20px; } }

/* END FOOTER */
