/* MAIN CARRITO */

.carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    min-height: 300px;
    h2 {
        font-size: 22px;
    }
    hr {
        margin: 5px 0;
        width: 80%;
    }
    h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    a {
        color: map-get($colores, verde);
    }
    .carritoTotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        width: 100%;
        background: linear-gradient(#aaaaaa, #5c5c5c);
        h6 {
            font-size: 18px;
            color: map-get($colores, blanco);
        }
        span {
            @extend h6;
        }
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    .carrito {
        margin: 35px;
        h2 {
            font-size: 28px;
        }
    }
}

@media screen and (min-width: 1100px) {

    .carrito {
        margin: 45px;
        h2 {
            font-size: 35px;
        }
        h4 {
            font-size: 24px;
        }
        .carritoTotal {
            h6 {
                font-size: 24px;
            }
            span {
                font-size: 24px;
            } 
        } 
    }
       
}

/* END MAIN CARRITO */