/* MAIN CUENTA */

.cuentaContainer {
    display: flex;
    justify-content: center;
    background-image: url(../Img/fondo.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .cuenta {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin: 20px;
        padding: 20px;
        background-color: map-get($colores, verdeclarito);
        .cuentaForm {
            legend {
            font-size: 20px;
            font-weight: 600;
            border-bottom: 1px solid #303030;
            }
            input {
                padding-left: 5px;
                margin: 20px 0;
                width: 100%;
                max-width: 300px;
                height: 25px;
                font-size: 15px;
                border-radius: 3px;
                border: 1px solid #5a5a5a;
                &:hover {
                    background: #e2e2e2;
                }
                &:focus {
                    background: #5a5a5a;
                    color: map-get($colores, blanco);
                    outline: none;
                }
            }
            .buttonContainer {
                display: flex;
                justify-content: center;
                button {
                    padding: 5px;
                    font-size: 15px;
                    font-weight: 600;
                    border-radius: 3px;
                    margin-bottom: 5px;
                    &:hover {
                        transform: scale(0.95);
                    }
                }
            }
        }
        h4 {
            font-size: 15px;
            margin-top: 15px;
        }
        a {
            color: map-get($colores, blanco)
        }
    }
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    .cuentaContainer{
        .cuenta {
            width: 300px;
            margin: 30px;
            padding: 30px 40px;
            .cuentaForm {
                legend {
                    font-size: 25px;
                }
                .buttonContainer {
                    button {
                        font-size: 18px;
                    }
                }
            }
            h4 {
                font-size: 18px;
            }
        }
    }
}


@media screen and (min-width: 1100px) {

    .cuentaContainer {
        .cuenta {
            width: 350px;
            padding: 50px 40px;
            .cuentaForm {
                legend {
                    font-size: 28px;
                }
                input {
                    height: 28px;
                }
                .buttonContainer {
                    button {
                        font-size: 20px;
                    }
                }
            }
            h4 {
                font-size: 20px;
            }
        }
    }
}
/* END MAIN CUENTA */