/* FOOTER */

footer {
    @include flexColumn;
    background-color: map-get($colores, verde);
    color: map-get($colores, blanco);
    padding-top: 15px;
    h4 {
        font-size: 15px;
    }
    .footerMetodos {
        @include flexColumn;
        justify-content: space-evenly;
        margin: 15px 0 15px 20px;
        .pagos {
            @include flexColumn;
            h4 {
                font-weight: 600;
            }
            img {
                margin-top: 5px;
                height: 25px;
            }
        }
        .envios {
            @include flexColumn;
            margin-top: 5px;
            h4 {
                font-weight: 600;
            }
            img {
                margin-top: 5px;
                height: 25px;
            }
        }
    }
}



.footerInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .contacto {
        @include flexColumn;
        margin-bottom: 20px;
        h4 {
            font-weight: 600;
        }
        ul {
            li {
                display: flex;
                align-items: center;
                i {
                    padding-right: 5px;
                }
            }
        }
        
    }
    .redesSociales {
        @include flexColumn;
        h4 {
            font-weight: 600;
        }
        ul {
            display: flex;
            li {
                font-size: 30px;
                margin: 0 5px;
                color: map-get($colores, blanco);
                a {
                    color: map-get($colores, blanco);
                    transition: all 0.25s;
                    &:hover {
                        transform: scale(0.95);
                    }
                    &:active {
                        color: rgb(48, 48, 48);
                    }
                }
            }
        }
    } 
}



/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0;
        h4 {
            font-size: 18px;
        }
    }

    .footerInfo {
        justify-content: center;
        margin: 0;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1100px) {

    footer {
        h4 {
            font-size: 22px;
        }
        .footerMetodos {
            .pagos {
                img {
                    height: 30px;
                }
            }
            .envios {
                img {
                    height: 30px;
                }
            }
        }
        .footerInfo {
            li {
                font-size: 20px;
            }
        }
    }

}

/* END FOOTER */