/* HEADER */

header {
  background-color: map-get($colores, verde);
  display: flex;
  flex-direction: column;
  a {
    color: map-get($colores, blanco);
  }
  .navSuperior {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    .logo {
      transition: all 0.25s;
      &:hover {
        transform: scale(0.95);
      }
      a {
        display: flex;
        align-items: center;
        margin: 20px 0;
        &:hover {
          color: map-get($colores, blanco);
        }
        img {
          height: 75px;
          border-radius: 50%;
        }
        h1 {
          display: none;
          margin-left: 5px !important;
          font-weight: 600;
        }
      }
    }
    .buscador {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 9rem;
        padding-left: 7px;
        line-height: 25px;
        background: map-get($colores, blanco);
        color: #63ad58;
        border: none;
        border-radius: 18px;
        margin-right: 5px;
        &:hover {
          background: #e2e2e2;
        }
        &:focus {
          background: #5a5a5a;
          color: map-get($colores, blanco);
          outline: none;
        }
      }
      a {
        transition: all 0.25s;
        &:hover {
          color: #e2e2e2;
          transform: scale(0.95);
        }
        &:active {
          color: map-get($colores, negro);
        }
      }
    }
    .menuHamburguesa {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: map-get($colores, blanco);
      &:active {
        color: map-get($colores, negro);
      }
    }
    input#menu {
      display: none;
      &:checked ~ .seccionesContainer {
        display: block;
      }
    }
    .seccionesContainer {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      padding-top: 5px;
      width: 100%;
      height: 200px;
      background-color: map-get($colores, verde);
      .secciones {
        margin: 45px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        .cerrarMenu {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 20px;
          color: map-get($colores, negro);
          &:active {
            color: #e6e6e6;
          }
        }
        li {
          display: flex;
          font-size: 24px;
          margin: 5px 0;
          padding: 0 8px;
          background-color: map-get($colores, verdeclarito);
          border-radius: 15px;
          &:active {
            background-color: map-get($colores, negroclarito);
          }
          a {
            color: map-get($colores, negroclarito);
            &:active {
              color: #e6e6e6;
            }
          }
          &:last-child {
            padding: 9px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .navInferior {
    display: flex;
    padding: 5px;
    border-top: 2px solid map-get($colores, gris);
    border-bottom: 2px solid map-get($colores, gris);
    .dropdown {
      .btn {
        color: map-get($colores, blanco);
        border: 1px solid map-get($colores, gris);
      }
      .dropdown-item:active {
        background-color: map-get($colores, verdeclarito);
      }
    }
    .categoriasContainer {
      display: none;
    }
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto auto 220px;
  }

  header {
    .navSuperior {
      .logo {
        a {
          img {
            height: 100px;
          }
          h1 {
            display: flex;
            font-size: 30px;
            margin-left: 5px;
          }
        }
      }
      .buscador {
        input {
          min-width: 200px;
          line-height: 28px;
          font-size: 15px;
        }
      }
      .menuHamburguesa {
        margin-right: 8px;
      }
    }
    .navInferior {
      padding: 0;
      .dropdown {
        display: none;
      }
      .categoriasContainer {
        display: block;
        .categorias {
          display: flex;
          width: calc(100vw - 30px);
          justify-content: space-evenly;
          li {
            display: flex;
            font-size: 16px;
            font-weight: 600;
            margin: 10px 15px;
            color: map-get($colores, blanco);
            a {
              transition: all 0.25s;
              &:hover {
                color: #e2e2e2;
                transform: scale(0.95);
              }
              &:active {
                color: map-get($colores, negro);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  header {
    .navSuperior {
      .buscador {
        input {
          min-width: 280px;
        }
      }
      .menuHamburguesa {
        display: none;
      }
      .seccionesContainer {
        display: flex;
        position: inherit;
        width: auto;
        height: auto;
        align-items: center;
        .secciones {
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          .cerrarMenu {
            display: none;
          }
          li {
            background-color: transparent;
            padding: 0;
            margin: 0 5px;
            &:active {
              background-color: transparent;
            }
            a {
              padding: 4px 8px;
              color: map-get($colores, blanco);
              transition: all 0.25s;
              &:hover {
                background-color: #79aa75;
                border-radius: 15px;
                transform: scale(0.95);
              }
              &:active {
                color: map-get($colores, negro);
              }
            }
            &:last-child {
              padding: 9px 4px;
              border-radius: 0;
              transition: all 0.25s;
              &:hover {
                background-color: #79aa75;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }

  .categorias li {
    font-size: 18px !important;
  }
}
/* END MEDIA QUERIES */

/* END HEADER */
