/* GENERALES */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

body {
    display: grid;
    grid-template-rows: auto auto 320px;
}

/* END GENERALES */

// MAPS //

$colores: (
    verde: #5bab54,
    verdeclarito: #a3e0ae, 
    blanco: #fff,
    negro: #1b1b1b,
    negroclarito: #303030,
    gris: #494949,
);

// END MAPS //

// MIXIN //

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

// END MIXIN //

@import "header.scss";
@import "index.scss";
@import "cuenta.scss";
@import "carrito.scss";
@import "nosotros.scss";
@import "productos.scss";
@import "footer.scss";